<% include partials/header %>


<div class="container">
<div class="row">
<div class='col-sm-9'>
	<h1 style="text-align: center"> <%= campground.name %> </h1>
<div class ="thumbnail">
<img src="<%= campground.image %>" alt=""></p>
<p><%= campground.description %> </p>	
</div>

<div class='container'>
	<%campground.comments.forEach(function(comment){ %>
	<p>
	<strong><%=comment.author%></strong> - <%=comment.text%>
	</p>
<% }) %>

</div>

</div>
</div>
	



</div>




<% include partials/footer %>
